<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel="stylesheet" href="../public/style/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
<body class="contatos">
    <div class="btts-contatos">
        <i class="fa-solid fa-chevron-left"></i>
        <a href="../views/login.html">Voltar</a>
    </div>
    <main>
        <div class="title-contatos">
            <h1>Contatos dos Agentes Cadastrados</h1>
            <i class="fa-solid fa-phone-flip"></i>
        </div>
        <div class="contatos-agentes">
            <div id="nomes-agentes">
                <h3>Nomes dos Agentes</h3>

            </div>
            <div  id="telefones-agentes">
                <h3>Telefones</h3>
            </div>
            <div id="email-agentes">
                <h3>Email</h3>
            </div>
        </div>
    </main>
    <div class="decoracao2"></div>
    <script src="../public/javaScript/dadosContatos.js"></script>
</body>
</html>