<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o SMAAS</title>
    <link rel="stylesheet" href="../public/style/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
<body class="sobre">
    <header class="container-titulo-image">
        <div class="btts-contatos">
            <i class="fa-solid fa-chevron-left"></i>
            <a href="../views/login.html">Voltar</a>
        </div>
        <div class="imagem">
            <img src="../public/image/SMAAS-removebg.png" alt="SMAAS">
        </div>
        <div class="titulo">
            <h2>Sobre <i class="fa-solid fa-book-open-reader"></i></h2>
        </div>
    </header>
    <section class="descricao">
        <p>SMAAS ( Sistema de Monitoramento de Atividades dos Agentes de Saude ), tem como objetivo <strong>agrupar os dados relacionados à agentes de saúde</strong>, desde suas <strong>informações básicas pessoais</strong> até os <strong>registros da comunidade na qual está encarregado de ajudar</strong>, visando uma <strong>melhor organização desses dados</strong> e uma <strong>dinamização dos processos de atendimento.</strong>
        Os agentes cadastrados no sistema poderao ter <strong>maior controle de sua(s) microarea(s)</strong>, podendo adiconar <strong>mais pessoas e seus respectivos dados.</strong>
        
        
        </p>
    </section>
    <section class="criadores">
        <div class="titulo">
            <h2>Desenvolvedores <i class="fa-solid fa-code"></i></h2>
        </div>
        <div class="container-criadores">
            <div class="desenvolvedores">
                <div class="desenvolvedor">
                    <div class="imagem">
                        <img src="../public/image/ft-perfil-eros.jpg" alt="eros-franklin">
                    </div>
                    <h3>Eros Franklin Soares Felix</h3>
                    <h4>FrontEnd</h4>
                    <a href=""><i class="fa-brands fa-github"></i></a>
                </div>
                <div class="desenvolvedor">
                    <div class="imagem">
                        <img src="../public/image/ft-perfil-jgui.jpg" alt="jose-guilherme" id="gui">
                    </div>
                    <h3>Jose Guilherme Morato Bizerra de Lima</h3>
                    <h4>BackEnd</h4>
                    <a href="https://github.com/JoseGuilherme0"><i class="fa-brands fa-github"></i></a>
                </div>
                <div class="desenvolvedor">
                    <div class="imagem">
                        <img src="../public/image/ft-perfil-francisco.jpg" alt="francisco" id="francisco">
                    </div>
                    <h3>Francisco Chagas Neto</h3>
                    <h4>BackEnd</h4>
                    <a href="https://github.com/ImFranciscoNeto"><i class="fa-brands fa-github"></i></a>
                </div>
                <div class="desenvolvedor">
                    <div class="imagem">
                        <img src="../public/image/ft-perfil-gabriel.jpg" alt="gabriel" id="gabriel">
                    </div>
                    <h3>Gabriel Ferreira Olveira</h3>
                    <h4>Modelador Banco de Dados</h4>
                    <a href="https://github.com/gabriell159"><i class="fa-brands fa-github"></i></a>
                </div>
                <div class="desenvolvedor">
                    <div class="imagem">
                        <img src="../public/image/fr-perfil-kaio.jpg" alt="kaio-vinicius" id="kaio">
                    </div>
                    <h3>Kaio Vinicius Cordeiro Batista</h3>
                    <h4>Modelador Banco de Dados</h4>
                    <a href="https://github.com/kaioviniciuscb"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>