<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Detalhes da Microarea</title>
    <link rel="stylesheet" href="../public/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body class="Microarea">
    <nav class="menuLateral">
        <div class="btn-expandir">
            <i class="fa-solid fa-bars" id="btnExpandir"></i>
        </div>
        <ul>
            <li class="item-menu">
                <a href="#">
                    <span class="icone"><i class="fa-solid fa-user"></i></span>
                    <span class="txt-link">Conta</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="../views/microarea.html">
                    <span class="icone"><i class="fa-solid fa-location-dot"></i></span>
                    <span class="txt-link">Microarea</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/logout">
                    <span class="icone"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                    <span class="txt-link">Sair</span>
                </a>
            </li>
        </ul>
    </nav>
    <main>
        <span class="titleMicroarea">
            <h2 id="bairroTitulo"></h2>
        </span>
        <div id="microarea-container" class="microarea-container">
            <div class="contatos-agentes">
                <div id="nomes-agentes">
                    <h3>Rua</h3>
                </div>
                <div  id="telefones-agentes">
                    <h3>Responsavel</h3>
                </div>
                <div id="email-agentes">
                    <h3>Visita</h3>
                </div>
            </div>
        </div>
    </main>
    <script src="../public/javaScript/script_detalhesMicroarea"></script>
    script
    <script src="../public/javaScript/menuLateral.js"></script>
</body>
</html>
