<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SMAAS</title>
    <link rel="stylesheet" href="../style/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="decoracao"></div>
    <div class="imagemPrincipal">
      <img src="../image/SMAAS-removebg.png" alt="Logo" />
    </div>
    <div class="login" autocomplete="off">
      <span class="titulo">Login</span>
      <form action="/login" method="POST">
        <div class="componentes">
          <i class="fa-solid fa-user"></i>
          <input
            class="estilo_input"
            type="email"
            name="email"
            id="email"
            placeholder="usuario@gmail.com"
            required
          />
        </div>
        <small class="erro" id="textEmail"></small>
        <div class="componentes">
          <i class="fa-solid fa-lock"></i>
          <input
            class="estilo_input"
            type="password"
            name="senha"
            id="senha"
            placeholder="********"
            required
          />
          <i class="fa-solid fa-eye" id="eyes" onclick="mostrarSenha()"></i>
        </div>
        <small class="erro" id="textSenha"></small>
        <input type="submit" value="Acessar" id="bttEnviar" />
        <small class="erro" id="textFom"></small>
      </form>
      <div class="bttEsquecerSenha">
        <a href="../esq_senha.html" target="_blank">Esqueceu a senha?</a>
      </div>
    </div>
    <div class="bem-vindo">
      <h1>Bem Vindo!</h1>
      <p>Caso ainda nao tenha uma conta, clique no botao abaixo e comece.</p>
      <a href="../cadastro.html" target="_parent">Registra-se</a>
    </div>
    <div class="decoracao2"></div>
    <script src="../javaScript/login.js"></script>
    <script src="../javaScript/script_eyes.js"></script>
  </body>
</html>
