<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o SMAAS</title>
    <link rel="stylesheet" href="../public/style/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
<body class="sobre">
    <header class="container-titulo-image">
        <div class="imagem">
            <img src="../public/image/SMAAS-removebg.png" alt="SMAAS">
        </div>
        <div class="titulo">
            <h2>Sobre <i class="fa-solid fa-book-open-reader"></i></h2>
        </div>
    </header>
    <section class="descricao">
        <p>SMAAS ( Sistema de Monitoramento de Atividades dos Agentes de Saude ), tem como objetivo agrupar os dados relacionados à agentes de saúde, desde suas informações básicas pessoais até os registros da comunidade na qual está encarregado de ajudar, visando uma melhor organização desses dados e uma dinamização dos processos de atendimento.
        Os agentes cadastrados no sistema poderao ter maior controle de sua(s) microarea(s), podendo adiconar mais pessoas e seus respectivos dados.
        
        
        </p>
    </section>
    <section class="criadores">

    </section>
</body>
</html>